.table > tbody > tr:not(:last-child) > td {
    border-bottom: 1px solid lightgray;
    position: relative;
    z-index: 1;
}

.table > thead > tr > th {
    border-bottom: 1px solid lightgray !important;
    position: relative;
    z-index: 2;
}
