@charset "utf-8";
.openerp .announcement_bar {
	display: none;
}

#testing_message{
	position: absolute;
	bottom: 0;
	z-index: 5000;
	margin: 0 auto;
	width: 100%;
	padding: 1% 0 1% 35%;
	background-color: #000;
	color: #fff;
	font-weight: 900;
	opacity: 0.6;
	pointer-events: none;
	font-size: 1.2em;
}

.redText{
	color: #df3f3f;
}